.body-main__title {
	width: 100%;
	text-align: center;
	margin: 1rem auto;
}

.games-container {
	width: 80%;
	margin: auto;
	height: 70vh;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: flex-start;
	gap: 1rem;
}

.games-container__card {
	width: 250px;
	height: 250px;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 0.5rem;
	background-color: white;
	border-radius: 15px;
	text-decoration: none;
	color: #000;
	font-size: 1rem;
	font-family: sans-serif;
	font-weight: 600;
}

.card__image {
	width: 50%;
	height: 50%;
	object-fit: contain;
}

.card__title {
	text-decoration: 1px underline;
}