.body-main__title {
	width: 100%;
	text-align: center;
	margin: 1rem auto;
}

.games-container {
	width: 100%;
	height: 70vh;
	display: grid;
	grid-template-columns: repeat(10, 10%);
	grid-template-rows: repeat(10, 10%);
}

.games-container__card {
	width: 80%;
	height: 90%;
	background-color: white;
	border-radius: 15px;
	grid-column: span 2;
	grid-row: span 3;
	align-self: center;
	justify-self: center;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 0.5rem;
	text-decoration: none;
	color: #000;
}

.card__image {
	width: 50%;
	height: 50%;
	object-fit: contain;
}